*{
	margin:0;
	padding:0;
	box-sizing:0;
	font-size:16px;
}
img,
iframe {
	max-width: 100%;
	height: auto;
	border: 0;
}

body {
	background-color: orange;
	align-content: center;
}
header {
	background-color: black;
}
header, footer {
	text-allign: center;
}


/* TYPOGRAPHY */ 
h1 {
	font-size: 50px;
	color: #fff;
	text-align: center;
	font-family: 'Special Elite', cursive;
	padding: 20px;
}
h2 {
	font-size: 30px;
	font-family: 'Special Elite', cursive;
	text-transform: uppercase;
	padding: 20px;
}
h3,p,li {
	font-family: 'Kalam', cursive;
	padding-bottom: 1em;
	font-size: 20px;
}
.item {
	background-color: #ff6c3b;
	padding:1%;
	margin:1%;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 10px;
}
main {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.item li{
	margin-left: 25px;
}
blockquote {
	font-family: 'Dancing Script', cursive;
	text-transform: uppercase;
	font-style: italic;
}
nav{
	text-align: center;
}
nav li {
	display: inline-block;
}
nav a {
	background: white;
	color: black;
	padding: 5px;
	text-decoration: none;
	border-radius: 5px;
}
nav a:hover {
	background: orange;
}
body {
	background-color: black;
	background-image: url("realPeter.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
.flex-container {
	display: flex;
	justify-content: space-around;
}
a:hover{
	filter: brightness(85%);
}
form {
	font-family: 'Kalam', cursive;
}